/* hacer que el body ocupe la mayor parte de la pagina */
html, body {
    margin: 0;
    height: 90%;
}

/* reglas del div principal*/
.main_dir_div {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* reglas para el texto debajo de las imagenes */
.dir_div_txt {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* reglas para el div que contiene las imagenes */
.dir_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    margin: 3%;
    border: 1px solid white;
    height: 256px;
}

/* reglas para las imagenes */
.dir_div_img img {
    width: 512px;
    height: 128px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}

/* efecto de transision para las imagenes */
.image-wrapper {
    position: relative;
}

.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.image-hover:hover {
    opacity: 1;
}

/* reglas para el modal del reader */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content img {
    margin-left: 20%;
    width: 60%;
    height: 80vh;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.arrows {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;display: flex;
    justify-content: center;
}

.close:hover,
.close:focus, .arrows:hover,
.arrows:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}