
*{
   /* background-color: aqua;  */
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #334f52; */
}
.logo{
    margin: 1.5em ;
    width: 6em ;
    /* background-color: #334f52; */
}

ul{
    display: flex;
    align-items: center;
    /* background-color: #334f52; */
}
ul li{
    margin: 1em;
    list-style: none;
}
ul li img{
    width: 1.5em;
    border: solid black;
    border-radius: 1.3em;
}
.orden{
    display: flex;
    margin-left: 1em;
}

.orden img{
    margin: 0.3em;
}
.onepiece img{
    width: 38em;
}

.onepiece{
    border: 1px solid black;
    width: 40em;
    height: 24.5em;
    margin-right: 1em;
}

.narutoybleach div{
    display: flex;
    flex-direction: column;
    width: 18em;
}
.narutoybleach{
    width: 40em;
    /* border: 1px solid black; */
}
.naruto,
.bleach{
    border: 1px solid black;  
    /* width: 20em;    */
}
.naruto img, .bleach img{
    width: 18em;
}
.naruto{
    margin-bottom: 1em;
}
